.tokens-in-prompt-display {
  font-size: 1rem;
  color: #888;
  font-family: monospace;
  letter-spacing: 0.05em;
}

.message-input {
  width: 70%;
  min-width: 70%;
  max-width: 100%;
  min-height: 50px;
  max-height: 500px;
  font-size: 1.05rem;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #4f62cb;
  resize: none;
  overflow-y: auto;
  line-height: 1.4;
}

.token-mode-send {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.token-mode-wrapper {
  width: 85%;
}

@media (max-width: 1000px) {
  .tokens-in-prompt-display {
    font-size: 0.8rem;
    color: #888;
    font-family: monospace;
    letter-spacing: 0.05em;
  }

  .message-input {
    width: 100%;
  }

  .token-mode-wrapper {
    display: grid;
  }

  .token-mode-send {
    width: 100%;
  }
}
