.tokens-in-prompt-display {
  font-size: 1rem;
  color: #888;
  font-family: monospace;
  letter-spacing: 0.05em;
}

.message-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.35rem;
  width: 100%;
  padding-top: 70px;
}

.message-input {
  width: 70%;
  min-width: 70%;
  max-width: 100%;
  min-height: 50px;
  max-height: 500px;
  font-size: 1rem;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #4f62cb;
  resize: none;
  overflow-y: auto;
  line-height: 1.4;
}

.token-mode-send {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.stop-button {
  background: none;
  font-size: 0.77rem;
  border-radius: 15px;
  padding: 0.28rem 1.05rem;
  color: #fff;
  border: 1px solid #4f62cb;
  font-weight: bold;
  letter-spacing: 0.08em;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.7em;
}

.stop-button:hover {
  background: #4f62cb3e;
  color: #fff;
  transition:
    border 0.3s,
    transform 0.15s;
  border: 1px solid red;
}

.stop-button:active {
  transform: scale(0.98);
}

.send-button {
  background: #4af;
  font-size: 0.77rem;
  border-radius: 15px;
  padding: 0.28rem 1.05rem;
  color: #fff;
  border: 1px solid #4f62cb;
  font-weight: bold;
  letter-spacing: 0.08em;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.7em;
  transition:
    background 0.25s,
    transform 0.25s,
    border 0.25s;
}

.send-button:hover {
  background: #4f62cb3e;
  color: #fff;
}

.send-button:active {
  transform: scale(0.98);
}

.token-mode-wrapper {
  width: 85%;
}

@media (max-width: 1000px) {
  .tokens-in-prompt-display {
    font-size: 0.8rem;
    color: #888;
    font-family: monospace;
    letter-spacing: 0.05em;
  }

  .message-input {
    width: 100%;
  }

  .token-mode-wrapper {
    display: grid;
  }

  .token-mode-send {
    width: 100%;
  }
}
